#header {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0%;
  .confine {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      padding-top: 1.5em;
      @media screen and (max-width: 1280px) {
        max-width: 200px;

        img {
          width: 100%;
          height: 100%;
        }
      }
      @media screen and (max-width: 1024px) {
        padding-top: 0.5em;
      }
    }
    .head-nav {
      display: flex;
      gap: 2em;
      @media screen and (max-width: 1660px) {
        gap: 1em;
      }

      .btn-nav {
        @media screen and (max-width: 1024px) {
          display: none;
        }
        @media screen and (min-width: 1024px) {
          display: flex;
        }
      }
    }
    .btn-nav {
      color: #b5b5b5;
      font-size: 1.5rem;
      text-transform: uppercase;
      position: relative;
      transition-duration: 400ms;
      @media screen and (max-width: 1660px) {
        font-size: 1.3rem;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: -20%;
        left: 0%;
        width: 100%;
        height: 1px;
        background-color: var(--orange);
        transform-origin: center;
        scale: 0 1;
        transition: all 500ms ease;
        user-select: none;
        pointer-events: none;
      }

      &:hover,
      &:focus {
        // color: var(--orange);
        color: white;
        &::before {
          scale: 1 1;
        }
      }
    }

    .langselector {
      display: flex;
      gap: 0.2em;
      // font-size: 1.5rem;
      color: grey;
      align-items: center;
      @media screen and (max-width: 1024px) {
        display: none;
      }
      .btn-lang {
        color: #b5b5b5;
        font-size: 1.2rem;
        padding: 0.25em 1em;
        @media screen and (max-width: 1660px) {
          font-size: 1.2rem;
          padding: 0.1em 0.4em;
        }
        &.active,
        &:hover {
          background: white;
          color: black;
          font-weight: bold;
        }
        border: 1px solid transparent;
        &:hover {
          background: none;
          border: 1px solid #b5b5b5;
          color: #b5b5b5;
        }
      }
    }

    .btn-menu {
      background: white;
      color: black;
      width: 40px;
      height: 40px;
      margin-right: 1em;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

#header {
  .mainart {
    display: none;
  }
}

#sidemenu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1000;
  .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.788);
    width: 100%;
    height: 100%;
    opacity: 1;
    content: "";
  }
  display: flex;
  justify-content: flex-end;
  .menu {
    position: relative;
    width: max(50vw, 900px);
    background: rgb(0, 0, 0) url("/b/grunge1_30.png");

    text-align: right;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .head-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .btn-nav {
        font-size: 5.3rem;
        line-height: 1.1;
        color: white;
        font-weight: bolder;
        transform-origin: right;
        font-family: var(--font-display);
        text-align: right;
        color: rgb(68, 67, 67);
        @media screen and (max-width: 1280px) {
          font-size: 4rem;
        }
        @media screen and (max-width: 1024px) {
          font-size: 9vw;
        }
        &:hover {
          color: var(--orange);
          text-shadow: 0px 0px 10px var(--orange);
          rotate: 2deg;
        }
      }
    }

    .langselector {
      display: flex;
      align-items: center;
      gap: 0.4em;

      font-weight: bold;
      justify-content: flex-end;
      margin-bottom: 10px;
      .btn-lang {
        border: 1px solid white;
        padding: 0.25em 1em;
        height: 100%;
        display: flex;
        align-items: center;
        &:active,
        &.active {
          background: white;
          color: black;
        }
      }
    }
  }
}
body:has(#p_portfolio[style*="display: block"]) #header {
  .mainart {
    display: block;
    position: absolute;
    right: 0%;
    z-index: -10;
    user-select: none;
    pointer-events: none;
  }
}
